*{margin:0; }

@font-face{
  font-family: 'DancingScript';
  src: url('../fuentes/DancingScript-Regular.otf');
}

body{
  background: #02010a;
  font-family: 'DancingScript';
  margin: 2px 10px;
  margin: 0 auto;
  width: 80%
}
header{
  width: 100%;
  background:  #5b7989;
  color: white;
  border-radius: 10px 10px 0px 0px;
}
header h1{
  text-shadow: 2px 2px 2px #02010a;
}
div[class^='titulo1']{
  display:inline-block;
  width: 50%;
  padding: 10px 30px;
  flex: 1 2 100%;
}
.titulo2 p{
  float: right;
  margin-top: 15px;
  font-size: 22px;
}
.contenedor2{
  display: flex;
  flex-flow: row;
}
.bloque1{
  display: flex;
  flex-flow: row;
}
.bloque2{
  display: flex;
  flex-flow: row;
}
a{
  color: white;
  margin-right: 20px;
}
#retratos{
text-decoration: none;
}
#retratos:visited{
  text-decoration: underline;
}
#imagenSecundaria{
  background-color: #d5c75f;
  padding: 20px 10px;
  }
#imagenSecundaria img{
  width: 100%;
  border: 1px solid black;
}
div [class*="imagen"]{
  min-height: 80px;
  padding: 10px 40px;
  flex: 2 3 100px;
}
img{
  box-shadow: 2px 2px 2px #02010a;
}

footer{
  background-color: #C6d5c5;
  margin: 0 auto;
  border-radius: 0px 0px 10px 10px;
  padding-left: 80px;
}
div[class^='caja']{
  display:inline-block;
  width: 20%;
  text-align: left;
  padding: 10px 20px;
}
.caja2{
  padding-top: 10px;
}
.caja3 img{
  width: 10%;
}
.caja4 img{
  width: 10%;
}
.caja1 h1,label{
  margin-bottom: 25px;
}
.caja2 h1,label{
  margin-bottom: 25px;
}
.caja3 h1,label{
  margin-bottom: 10px;
}
.caja4 h1,label{
  margin-bottom: 20px;
}
.contprin div {
  box-sizing: border-box;
  max-width: 900px;
}
.contprin{
  width: 100%;
}
.imagen1{
  filter: blur(10px);
}
.imagen2,.imagen4,.imagen6{
  filter: grayscale(100%);
}
.imagen3{
  filter: sepia(90%);
}
@media all and (max-width: 900px) {
  .contenedor2 {
    width: 100%;
    text-align: center;
    order: 1;
  }
  .titulo2 p{
    margin-left: 10%;
    text-align: center;

  }
#imagenCentral{
    /*width: 100%;*/
    order: 2;
padding: 20px 50px;
}
  div h2{
    margin-left: 45%;
  }

.bloque1,.bloque2,.contenedor2{
  display: flex;
  flex-flow: wrap;
}

footer{
  height: auto;
}
div[class^='caja']{
  display:inline;
}

}
header{
  animation-duration: 1s;
  animation-name: slidein;
}
@keyframes slidein{
  0% {
  margin-top: 150%;
  }
  60% {
  margin-top: -5%;
  }
  100% {
  margin-top: 0%;
  }
  }